# Mac OS
.DS_Store

# NPM
node_modules/
!node_modules/openblock-blocks/generators/arduino/arduino.js
!node_modules/openblock-l10n/locales/editor-msgs.js
!node_modules/openblock-l10n/locales/extensions-msgs.js
!node_modules/openblock-blocks/arduino_compressed.js
!node_modules/openblock-l10n/locales/editor-msgs.js
!node_modules/openblock-l10n/locales/extensions-msgs.js
!node_modules/openblock-vm/src/devices/STEMVN_BOT/stemvn_bot.js
!node_modules/openblock-vm/src/extension-support/extension-manager.js
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale
